.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.row-container {
    flex-direction: column;
    max-width: 600px;
    padding: 0 50px;
    margin: auto;
}

.field-item {
    margin: 10px 0 !important
}

.header-button {
    &__item {
        margin: 0px 20px !important
    }
}

.note-item {
    &__card {
        margin-bottom: 10px;
        position: relative !important;
    }

    &__delete-btn {
        position: absolute !important;
        right: 16px;
        top: 16px;
    }
}

